html{
    margin: 0;
    padding: 0;
}
  

.footer {
    height: 420px;
    background: #000000;
    color: white;
    margin: 0;
    padding: 0;
        
}

.left {
    width: 500px;
    float: left;
    text-align: left;
    margin: -10px 150px 0;
    font-size: 15px
}

.right {
    float: right;
     font-size: 14px;
}

input {
     float: right;
     padding: 10px;
     background-color: black;
     border-radius: 10px;
     margin: 30px 140px ;
     font-size: 20px
}

.head {
    margin: 0 85px;  ;
    font-size: 33px;
    padding: 70px;

}

.part {
    float: right;
    margin: -80px 180px

}

.blue {
    color: #11b7ed;

}

.button {
    margin: -120px 800px ;
    width: 400px;
    font-size: 33px    
}

